.box {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 79%);
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 100px auto;
  border: 10px ridge hsl(0, 0%, 0%);
  border-radius: 5px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: dodgerblue;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(223, 223, 223);
}

.highlight {
  background-color: hsl(0, 0%, 0%);
}
