.box {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  border: 1px solid hsl(0, 0%, 79%);
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-content: flex-start;
  background-color: rgb(255, 30, 244);
  width: 352px;
  height: 352px;
  margin: 100px auto;
  flex-wrap: wrap;
  border: 5px solid black;
}


.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: dodgerblue;
  width: 500px;
  margin: 100px auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(12, 115, 21);
}

body {
  height: 100vh;
  /* overflow: hidden; */
}

.highlight {
    background-color: green;
}

